<%- include('../partial/header.ejs') %> <%- include('../partial/userNavbar.ejs')
%>

<div class="container">
  <div class="row">
    <div class="col-md-2"><%- include('../partial/userSidebar.ejs') %></div>

    <div class="col-md-10" style="padding-left: 50px">
      <%- include('../componentViews/addressModaal') %>
    </div>
  </div>
</div>
