<%- include('../partial/header.ejs') %> <%- include('../partial/userNavbar.ejs')
%>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<%- include('../componentViews/snackbar.ejs') %>
<div id="snackbar" >
    <i class="fas fa-exclamation-circle" style="width:50%; height: 50%; color: rgb(0, 255, 26);" ></i>
    <div  class="icon-Success" style="background-color: rgb(0, 255, 26); border-radius: 5px;">
       product added to cart
    </div>
</div>



<div class="container" style="background-color: white;">
  <div class="row">
    <div class="col-md-3"><%- include('../partial/userSidebar.ejs') %></div>

    <div class="col-md-9">
      
      <h2 class="main-heading border-b">Coupons</h2>
      <!-- <div class="table-responsive"> -->
      <div class="card mb-3">
        <div class="card-body">
            <h5>bjjkl</h5>
            <p>jgjkkkllkl</p>
          <p id="catchError" style="color: rgb(246, 4, 4)"></p>
        </div>
        <p id="quantityError" style="color: rgb(246, 4, 4)"></p>
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>