
<%-include('../partial/header.ejs')%>
<!-- <img src="" alt=""> -->

<section class="container-fluid bg-body-tertiary d-block">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
          <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
            <div class="card-body p-5 text-center">
              <h4>Verify</h4>
              <p>Your otp was sent to you via email</p>
              <div></div>
              <form action="">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example17"
                    >Email address</label
                  >
                  <input
                    name="email"
                    type="email"
                    id="form2Example17"
                  
                    class="form-control form-control-lg"
                    
                  />
                  <p id="catchError" style="color: rgb(246, 4, 4);"></p>

                </div>
                <button class="btn btn-primary mb-3" type="submit">
                  submit
                </button>

              </form>
              <!-- <form action="">

                
                <div class="otp-field mb-4 " name="email">
                  <input type="number" name="otp" />
                </div>
                
                <button class="btn btn-primary mb-3" type="submit">
                  Verify
                </button>
              </form>
  
              <p class="resend text-muted mb-0">
                Didn't receive otp? <button style="background-color: gray;" onclick=resendOtp()>Request again</button>
              </p> -->
            </div>
          </div>
        </div>
      </div>
  </section>





  <script>
    const form = document.querySelector("form");
    const catchError = document.getElementById('catchError')
  
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const email = form.email.value;
      // const otp = form.otp.value;
      
      try {
        console.log(email)
        console.log('haaaaaaaaaaaaaaaaaaaaai')
    
        const res = await fetch("/forgotPassword", {
          method: "POST",
          body: JSON.stringify({ email}),
          headers: {
            "Content-Type": "application/json",
          },
        });
        const data = await res.json();
        
      if(data.error){
      catchError.innerHTML = data?.error
          setTimeout(()=>{
            catchError.innerHTML = ''
          },5000)
      console.log(error,'err');
    }
        // if (!res.ok) {
        //   throw new Error(`HTTP error! Status: ${res.status}`);
        // }
        // console.log(res)

        if (data) {
          console.log(data ,"data is here ")
          console.log(email,'lllllllllll')
       

          location.href = `/forgotPasswordOtp/${encodeURIComponent(email)}`
        }
      } catch (err) {
        console.log(err, "err");
        // alert(err.message)
      }
    });


// async function resendOtp() {
//   const email = form.email.value;
//   console.log(email)
//     try{
//       console.log( "it is the id");
//     const res = await fetch("/resendOtp", {
//       method: "post",
//         body: JSON.stringify({email:email  }),
//         headers: {
//           "Content-Type": "application/json",
//         },
        
//       })
//       console.log(await res.json())
//   }catch(err){
//     console.error("Category management failed:", error);
//   }  
// }
  </script>