
<%-include('../partial/header.ejs')%>
<!-- <img src="" alt=""> -->

<section class="container-fluid bg-body-tertiary d-block">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
          <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
            <div class="card-body p-5 text-center">
              <h4>Set new password</h4>
              <!-- <p>Set new password</p> -->
              <div></div>
              <form id="form" action="">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example17"
                    >Email address</label
                  >
                  <input
                    name="email"
                    type="email"
                    id="form2Example17"
                    value="<%= email %>"
                    class="form-control form-control-lg"
                    disabled
                  />
                </div>
<!--                 
                <div class="otp-field mb-4 " name="email">
                  <input type="number" name="otp" />
                </div> -->

                
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27"
                      >Password</label
                    >
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control form-control-lg"
                      />
                    </div>
                    <p id="passswordErrors" style="color: rgb(246, 4, 4);"></p>

                    <div class="form-outline mb-4">
                      <p id="error-message" style="color: rgb(246, 4, 4);"></p>
                      <label class="form-label" for="form2Example27"
                      >Confirm Password</label
                      >
                      <input
                      type="password"
                      id="ConfirmPassword"
                      name="ConfirmPassword"
                      class="form-control form-control-lg"
                      />
                      <p id="confirmPasswordError" style="color: rgb(246, 4, 4);"></p>
                    </div>
                
                <button class="btn btn-primary mb-3" type="submit">
                  Verify
                </button>
              </form>
<!--   
              <p class="resend text-muted mb-0">
                Didn't receive otp? <button style="background-color: gray;" onclick=resendOtp()>Request again</button>
              </p> -->
            </div>
          </div>
        </div>
      </div>

  </section>





  <script>
      const form = document.querySelector("#form");
    document.addEventListener("DOMContentLoaded",()=>{
    //   alert('kjhgfd')
        console.log('kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk  what are you doing')
    })
    const  passwordErrors = document.getElementById('passswordErrors')
    const  ConfirmPasswordError = document.getElementById('confirmPasswordError')
    const errorMessage =document.getElementById('error-message')


  
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const email = form.email.value;
    //   alert(`Hel ${email}`)
      const password = form.password.value
      const conformPassword = form.ConfirmPassword.value
      console.log(email)
      try {

        if(password==="" || password.length <6 ){
       passwordErrors.innerHTML = 'Strong password is required'
       setTimeout(()=>{
         passwordErrors.innerHTML = ''
       },5000)
       return
     }
     if(conformPassword==="" ){
       ConfirmPasswordError.innerHTML = 'confirm password  is required'
       setTimeout(()=>{
         ConfirmPasswordError.innerHTML = ''
       },5000)
       return
     }
     if(password !== conformPassword){
        console.log('wait ')
        errorMessage.innerHTML="password doesn't match "
        setTimeout(()=>{
         errorMessage.innerHTML = ''
       },5000)
        return 
      }
    
        const res = await fetch("/setNewPassword", {
          method: "POST",
          body: JSON.stringify({ email,password}),
          headers: {
            "Content-Type": "application/json",
          },
        });
        if (!res.ok) {
          throw new Error(`HTTP error! Status: ${res.status}`);
        }
        console.log(res)
        const data = await res.json();

        if (data) {
          console.log('data is here ')
       
          location.href = "/userLogin";
        }
      } catch (err) {
        console.log(err, "err");
        // alert(err.message)
      }
    });


// async function resendOtp() {
//   const email = form.email.value;
//   console.log(email)
//     try{
//       console.log( "it is the id");
//     const res = await fetch("/resendOtp", {
//       method: "post",
//         body: JSON.stringify({email:email  }),
//         headers: {
//           "Content-Type": "application/json",
//         },
        
//       })
//       console.log(await res.json())
//   }catch(err){
//     console.error("Category management failed:", error);
//   }  
// }
  </script>