<div class="container-fluid" style="position: fixed; width: 12%; ">
    <div class="row flex-nowrap;" style="background-color: rgba(247, 244, 244, 0.922); ">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0  ">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline" style=" color: black;">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" >
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color:gray;">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/adminProductList" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline "  style=" color: gray;">Products</span> </a>
                      
                    </li>
                    <li>
                        <a href="/admin/categoryList" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color: gray;">Category</span></a>
                    </li>
                    <li>
                        <a href="/admin/adminOrderManagement"  class="nav-link px-0 align-middle ">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color: gray;">Order</span></a>
                        
                    </li>
                    <li>
                        <a onclick="location.href = '/admin/couponList'"  data-bs-toggle="collapse" class="nav-link px-0 align-middle" style="cursor: pointer;">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color: gray;">Coupon</span> </a>
                            
                    <li>
                        <a href="" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color: gray;">Banner</span> </a>
                    </li>
                    <li>
                        <a href="" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color: gray;">Payment</span> </a>
                    </li>
                    
                    <li>
                        <a href="/admin/customer" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color: gray;">Customer</span> </a>
                    </li>
                    <span style="color: black;">other</span>
                    <li>
                        <a href="" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color: gray;">Settings</span> </a>
                    </li>
                    <li>
                        <a href="" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color: gray;">Help</span> </a>
                    </li>
                    <li>
                        <a href="/adminLogOut" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline" style=" color: gray;">LogOut</span> </a>
                    </li>
                   
                <hr>
                
            </div>
        </div>

    </div>
</div>