
<footer class="text-center text-lg-start  text-muted" style="background-color: rgb(141, 87, 22);">
 
    <section class="">
      <div class="container text-center text-md-start p-4">
        <!-- Grid row -->
        <div class="row ">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <img style="height: 10%;width: 10%;" src="/assets/c.png" alt="">
              <i  style="color: floralwhite;"></i>Dark Choco
            </h6>
            <p style="color:floralwhite;">
              Fun Fact 101: Cocoa and dark chocolate have a wide variety of powerful antioxidants. In fact, they have way more than most other foods.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Quick link
            </h6>
            <p>
              <a style="text-decoration: none;" href="#!" class="text-reset">Login</a>
            </p>
            <p>
              <a style="text-decoration: none;" href="#!" class="text-reset">Register</a>
            </p>
            <p>
              <a style="text-decoration: none;" href="#!" class="text-reset">Blog</a>
            </p>
            <p>
              <a style="text-decoration: none;" href="#!" class="text-reset">Contact Us </a>
            </p>
            <p>
              <a style="text-decoration: none;" href="#!" class="text-reset">Shipping And </a>
            </p>
            <p>
              <a style="text-decoration: none;" href="#!" class="text-reset">Refund </a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Information
            </h6>
            <p>
              <a style="text-decoration: none;" href="#!" class="text-reset">Online Consultation</a>
            </p>
            <p>
              <a style="text-decoration: none;" href="#!" class="text-reset">Call 1-180-230-234</a>
            </p>
        
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Subscribe to our Newsletter</h6>
            <p><i class="fas fa-home me-3"></i>Subscribe up to our newsletter. Be in touch with latest news and special offers, etc.</p>
            
            <div class="pt-1 mb-4">
              <button class="btn btn-brown btn-lg btn-block " type="button" style="color: floralwhite;">Enter your email Address</button>
            </div>
            
            <div class="pt-1 mb-4">
              <button class="btn btn-dark btn-lg btn-block" type="button">Subscribe</button>
            </div>
         
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
  
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
          <!-- <img src="/assets/icons/google.svg" alt=""> -->
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
  </footer>

  
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>