<nav class="navbar" >
    <div class="nav-left">
        <h6
        class="text-uppercase fw-bold mb-4"
        style="padding-left: 5%; padding-top: 1%"
        >
        <img style="height: 5%; width: 5%" src="/assets/c.png" alt="" />
        <i style="color: rgb(220, 216, 216);" >  Dark Choco</i>
      </h6>
    </div>
    <div class="nav-center">
        <a  href="/">Home</a>
        <a href="">Contact</a>
        <a href="/user/productListPage">Products</a>
        <a href="/about">About</a>
    </div>
    <div class="navbar-right">
        <a href="/userLogin">Login</a>
        
        <a href="/userSignIn">Sign In</a>
        <!-- <a href="/adminLogin">Admin</a> -->

    </div>
    
</nav>