<div class="container-fluid" style="position: fixed; width: 16%;">
    <div class="row flex-nowrap;" style="background-color: rgba(171, 167, 167, 0.63); height:430px; margin-top: 20%; margin-left: 4%; border-radius: 5px; ">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0  ">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/user/userProfilePage" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline">AccountDetails</span> </a>
                      
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline">Wishlist</span></a>
                    </li>
                    <li>
                        <a onclick="location.href='/user/userOrderHistory'" data-bs-toggle="collapse" style="cursor: pointer;" class="nav-link px-0 align-middle cursor-pointer">
                             <span class="ms-1 d-none d-sm-inline">Order History</span></a>
                        
                    </li>
                    <li>
                        <a onclick="location.href='/user/addressPage'" data-bs-toggle="collapse" style="cursor: pointer;" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline">Address</span> </a>
                            
                    <li>
                        <a onclick="location.href='/user/walletHistory'" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline">Wallet</span> </a>
                    </li>
                    <li>
                        <a onclick="location.href='/user/couponPage'" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline">Coupon</span> </a>
                    </li>
                    <li>
                        <a href="" class="nav-link px-0 align-middle">
                            <i class=""></i> <span class="ms-1 d-none d-sm-inline">Settings</span> </a>
                    </li>
                    <li>
                        <a onclick="location.href='/LogOut'" style="cursor: pointer;" class="nav-link px-0 align-middle">
                            <i ></i> <span class="ms-1 d-none d-sm-inline">LogOut</span> </a>
                    </li>
                   
                   
                <hr>
                
            </div>
        </div>

    </div>
</div>